<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= raw t ".book_info" %>
  <%= raw t ".book_info_link_1" %>
  <%= raw t ".book_info_link_2" %>
  <%= raw t ".book_info_link_3" %>
  <%= t ".description" %>
</p>
