<h1><%= t ".reset" %></h1>

<p><%= t ".content" %></p>
<%= link_to t(".reset"),
  edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
<p><%= t ".expired" %></p>
<p><%=  t ".final" %></p>
